<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/styles.css" tyle="text/css">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.webp">
 
  <title>Evan Suong</title>
  
  <link rel="stylesheet" href="https://use.typekit.net/zov4iqv.css">
</head>
<body>
  <div id="background">
    {% for item in collections.jobs %}
      <div class="page-background {{ item.data.class }} hidden page-item" style="background-image: url('{{ item.data.backgroundPatternSrc }}');"></div>
    {% endfor %}
    {% for item in collections.projects %}
      <div class="page-background {{ item.data.class }} hidden page-item" style="background-image: url('{{ item.data.backgroundPatternSrc }}');"></div>
    {% endfor %}
    {% for item in collections.home %}
      <div class="page-background {{ item.data.class }} hidden page-item" style="background-image: url('{{ item.data.backgroundPatternSrc }}');"></div>
    {% endfor %}
  </div>
  
  <header id="page-title">
    <nav class="page-title-right" id="container-nav">
      <div class="nav-list">
        {% for item in collections.projects %}
          {% include 'nav-item.njk' %}
        {% endfor %}
      </div>
      <div class="nav-list">
        {% for item in collections.jobs %}
          {% include 'nav-item.njk' %}
        {% endfor %}
      </div>
    </nav>
    <div class="page-title-left" id="container-main">

      <div id="container-main-content">

        <div id="opening-text" class="container-title-text">
          {% for item in collections.jobs %}
            {% include 'title-text.njk' %}
          {% endfor %}
          {% for item in collections.projects %}
            {% include 'title-text.njk' %}
          {% endfor %}
          {% for item in collections.home %}
            {% include 'title-text.njk' %}
          {% endfor %}
        </div>
        <div id="container-card">
          {% for item in collections.projects %}
            {% include 'item-card.njk' %}
          {% endfor %}
          {% for item in collections.jobs %}
            {% include 'item-card.njk' %}
          {% endfor %}
          {% include 'home-card.njk' %}
        </div>
        <div id="closing-text" class="container-title-text">

          {% for item in collections.jobs %}
            {% include 'title-text-closing.njk' %}
          {% endfor %}
          {% for item in collections.projects %}
            {% include 'title-text-closing.njk' %}
          {% endfor %}
          {% for item in collections.home %}
            {% include 'title-text-closing.njk' %}
          {% endfor %}

        </div>

      </div>

      <aside id="container-main-img">
        {% for item in collections.jobs %}
          <img src="{{ item.data.mainImageSrc }}" alt="Image of {{ title }}" class="hidden {{ item.data.class }} page-item"/>
        {% endfor %}
        {% for item in collections.projects %}
          <img src="{{ item.data.mainImageSrc }}" alt="Image of {{ title }}" class="hidden {{ item.data.class }} page-item"/>
        {% endfor %}
        {% for item in collections.home %}
          <img src="{{ item.data.mainImageSrc }}" alt="Image of {{ title }}" class="hidden home page-item"/>
        {% endfor %}
      </aside>

    </div>
    
  </header>
  <main id="page-main">
    {% for item in collections.jobs %}
      {% include 'job-page.njk' %}
    {% endfor %}
    {% for item in collections.projects %}
      {% include 'project-page.njk' %}
    {% endfor %}  
    {% for item in collections.home %}
      {% include 'home-page.njk' %}
    {% endfor %}
  </main>
  <footer>

  </footer>

<script>

  function hideElement(element) {
    element.classList.remove('active'); 
    element.classList.add('hidden');
  }

  function showElement(element) {
    element.classList.remove('hidden');
    element.classList.add('active');
  }

  function init() {

    // grab url and set page
    let url = window.location.href;
    let pagename = url.split('#')[1];
    if (!url.includes('#')) pagename = 'home';

    // add scroll listeners to the nav buttons 
    document.querySelector('body').addEventListener('scroll', function() {
      if (window.mainContainer.scrollTop > 50) {
        let navBtns = [...document.querySelectorAll('.nav-btn')]
        navBtns.forEach(btn => {
          hideElement(btn);
        });
      } else {
        let navBtns = [...document.querySelectorAll('.nav-btn')]
        navBtns.forEach(btn => {
          showElement(btn);
        });      
      }
    });  

    // add button event listener
    let navBtns = [...document.querySelectorAll('.nav-btn')];
    navBtns.map(btn => {
      btn.addEventListener('mouseover', e => navigate(e.target.getAttribute('data-page')));
      btn.addEventListener('mouseleave', e => navigate('home'));
    })

    // grab title text and turn it into a bunch of p tags
    let titles = [...document.querySelectorAll('.title-text'), ...document.querySelectorAll('.title-text-closing')];
    titles.map(title => {
      let text = title.getAttribute('data-title').split("").reverse();
      let i = text.length;
      while(i--) {
        let p = document.createElement('p');
        p.classList.add(title.getAttribute('data-class'));
        hideElement(p);
        p.innerText = text[i];
        title.appendChild(p);
      }
    })

    navigate(pagename);
  }
  
  async function navigate(pagename) {

    window.titleText = pagename;
    
    // update main card
    let pageElements = [...document.querySelectorAll('.' + pagename + '.page-item')];
    let activeElements = [...document.querySelectorAll('.active.page-item')];

    console.log('hiding the following elements');
    activeElements.map(element => { 
      hideElement(element);
    });

    console.log('displaying the following elements: ');
    pageElements.map(element => {
      showElement(element);
    })

    await deleteTitleText();
    await typeTitleText(pagename);
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
    
  async function deleteTitleText() {
    // update title text 
    let deleteTitle = [...document.querySelectorAll('.title-text p.active')].reverse();
    for (letter of deleteTitle) {
      hideElement(letter);
      await sleep(40);
    }    
  }

  async function typeTitleText(pagename) {
    console.log(pagename)
    let showTitle = [...document.querySelectorAll('.title-text p.' + pagename)];
    for (letter of showTitle) {
      if (pagename != window.titleText) {
        await deleteTitleText();
        return;
      }
      await sleep(40);
      showElement(letter);
    }    
  }
  
  document.addEventListener('DOMContentLoaded', function() {
    window.running = true;
    init();
  });

 


  {# TODO: when the user reaches the top then display the nav items #}
</script>
</body>
</html>