<section class="info-page {{ item.data.class }} page-item" style="background-image: url('{{ item.data.backgroundPatternSrc }}'); background-color: {{ item.data.colorBkg2 }}; color: {{ item.data.colorTxt2 }}; font-family: {{ item.data.font }};">
  <div class="info-page-left">
    <img src="assets/images/me-upside-down.png" alt="picture of myself but it's upside down with the title: 'Who and I?'" id="about-me-img"/>
  </div>
  <div class="info-page-right">
    <h3 class="content-subtitle">{{ item.data.subtitle }}</h3>
    <p class="content-about">{{ item.data.about }}</p>
  </div>
</section>