{# 
<style>
#home * {
  font-family: 'Montserrat', sans-serif;
}

#home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
}

#home h1 {
  font-weight: 800;
  font-size: 12.5vw;
  margin-block: 0;
  height: 40vh;
}

#home span {
  padding: 0px 30px 0px 30px;
}

#home-title-1 {
  color: var(--color1);
}

#container-title-background {
  position: relative;
}

#home-title-2 {
  -webkit-text-stroke: 2px var(--color1);
  color: transparent;
  position: relative;
  z-index: 10;
  background-color: var(--color3);
  mix-blend-mode: difference;
}

#title-background {
  position: absolute;
  width: 110%;
  left: -3%;
  top: -27%;
}

#rect1 {
  width: 280px;
  background-color: var(--color1);
  height: 208px;
  position: absolute;
  right: -30px;
  top: -245px;
}

#rect2 {
  width: 250px;
  background-color: var(--color3);
  height: 180px;
  position: absolute;
  right: 0px;
  top: -217px;
}

</style>

#}
<style>
  #home-img {
    width: 100%;
    height: auto;
  }
</style>
<section id="home" class="hidden home">
  <img id="home-img" src="assets/images/home.png" alt="{{ item.data.title }}"/>
</section> 
