
<style>
  #home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
  }

  #home-img {
    height: inherit;
  }
</style>
<section id="home" class="hidden home page-item">
  <img id="home-img" src="assets/images/home.png" alt="{{ item.data.title }}"/>
</section> 
