<section class="page-item hidden {{ item.data.class }} item-card" style="background-color: {{ item.data.colorBkg1 }}; font-family: {{ item.data.font }}; color: {{ item.data.colorTxt1 }};">
  <h2>
    {{ item.data.type | safe }}
  </h2>
  <p class="card-year">
    {{ item.data.year | safe }}
  </p>
  <p class="card-description">
    {{ item.data.shortDescription | safe }}
  </p>
</section>