<section class="page-item hidden {{ item.data.class }}">
  <h2>
    {{ item.data.type | safe }}
  </h2>
  <p class="card-year">
    {{ item.data.year | safe }}
  </p>
  <p class="card-description">
    {{ item.data.shortDescription | safe }}
  </p>
</section>
<style>
  section.page-item {
    background-color: var(--colorBkg);
    {# padding: 20px; #}
    height: 100%;
    width: 100%;
  }

  section.page-item > p, section.page-item > h2 {
    color: var(--colorTxt);
    margin: 20px;
  }
</style>