<a class="nav-btn" data-page="{{ item.data.class }}">{{ item.data.title | safe }}</a>
<style>
  a.nav-btn {
    background-color: var(--colorNavBkg);
    border: 2px solid var(--colorNavBorder);
    color: var(--colorNavTxt);
    padding: 10px;
    text-align: center;
    font-weight: 600;
  }
  
  a.nav-btn:hover {
  }
</style>

{# TODO: pull is normally styled squares and output different colored squares #}