<h1 id="title-text-opening" data-title="<{{ item.data.title }} >" data-class="{{ item.data.class }}" class="title-text {{ item.data.class }}" style="color: {{ item.data.color1 }}; font-family: {{ item.data.font }}"></h1>