<h1 id="title-text-opening" data-title="<{{ item.data.title }} >" data-class="{{ item.data.class }}" class="title-text {{ item.data.class }}" style="color: {{ item.data.color1 }}"></h1>
<style>
  #title-text-opening {
    position: absolute;
    bottom: 7.5px;
    left: 0;
  }
</style>