<h1 id="title-text-closing" data-title="</{{ item.data.title }} >" data-class="{{ item.data.class }}" class="{{ item.data.class }} title-text" style="color: var(--colorTitleTxt)"></h1>
<style>
  #title-text-closing {
    position: absolute;
    top: 0;
    right: 0;
  }
</style> 