<section class="center">
  <h3>Introduction</h3>
  <p>HUG PEOPLE</p>
  <img src="/assets/images/fouro/fouro-intro.png" class="large"/>
</section>
<section class="center">
  <h3>
    User Research
  </h3>
  <p>We researched users</p>
  <ul class="user-persona-list">
    <li class="user-persona-item">
      <p class="user-persona-icon">👧🏼</p>
      <p>Sage</p>
      <p>Wants to see how similar her music habits are to her friends</p>
    </li>
    <li class="user-persona-item">
      <p class="user-persona-icon">🧑🏿</p>
      <p>Marcus</p>
      <p>Looking to grow community of people who listen to the same music as him</p>
    </li>
    <li class="user-persona-item">
      <p class="user-persona-icon">👩🏼</p>
      <p>Paige</p>
      <p>Looking to find new music and expand her genre listening</p>
    </li>
  </ul>
</section>
<section class="center">
  <h3>Design</h3>
  <h4>Frontend</h4>
  <p>used react native and created a spreadsheet of frontend components</p>
  <img src="/assets/images/fouro/fouro-frontend-components.png" class="small"/>
  <h4>Backend</h4>
  <p>used nosql and designed a schema and set up endpoints</p>
  <img src="/assets/images/fouro/fouro-backend-diagram.png" class="small"/>
</section>
<section class="center">
  <h3>Prototyping & Feature Breakdown</h3>
  <h4>Onboarding & Login</h4>
  <img src="/assets/images/fouro/fouro-wireframe-onboarding.png" class="small"/>
  <br/>
  <br/>
  <h4>Home Page</h4>
  <img src="/assets/images/fouro/fouro-wireframe-home.png" class="large"/>
  <br/>
  <br/>
  <h4>Friends Page</h4>
  <img src="/assets/images/fouro/fouro-wireframe-friends.png" class="large"/>
  <br/>
  <br/>
  <h4>Send a Hug</h4>
  <img src="/assets/images/fouro/fouro-wireframe-hug.png" class="large"/>
  <br/>
  <br/>
  <h4>Notifications</h4>
  <img src="/assets/images/fouro/fouro-wireframe-notifications.png" class="large"/>
</section>
