<section class="info-page {{ item.data.class }} page-item" style="background-image: url('{{ item.data.backgroundPatternSrc }}'); background-color: {{ item.data.colorBkg2 }}; color: {{ item.data.colorTxt2 }}; font-family: {{ item.data.font }};">
  <div class="info-page-left">
    <img src="/assets/images/me-upside-down.png" alt="picture of myself but it's upside down with the title: 'Who am I?'" id="about-me-img"/>
  </div>
  <div class="info-page-right">
    <h3 class="content-subtitle">"Hi, my name is Evan Suong..."</h3>
    <p class="content-about">
      about: "...and I like to build things on the web that look and feel nice. I pride myself on out of the box designs and user centered thinking. I'm fascinated by artistic expression in all its beautiful forms, although by the looks of it I've been drawn into the world of UI/UX design and software which is now my home. \n\n

      I've spent my short career as a web developer building applications over the web development stack, from apis, frontend clients, web servers, etc. I've gained extensive knowledge of my fields through my college studies, professional experience, and passion projects.\n\n

      I am a fouth year college student currently studying Computer Science at The University of California, San Diego, and I am a part time Quality Assurance Engineer for ServiceNow in San Diego. Throughout these experiences I've built a solid understanding of the digital world and I would like to help contribute to that world by helping YOU out. 
      "
    </p>
  </div>
</section>