<section>
  <h3>Introduction</h3>
  <div class="content-right">
    <img src="/assets/images/muse/muse-intro.png" class="scroll"/>
    <p>Meet new people and find new music with muse</p>
  </div>
</section>
<section>
  <h3>Redesign</h3>
  <img src="/assets/images/muse/muse-old.png" class="large"/>
</section>
<section>
  <h3>User Research<h3>
  <ul class="user-persona-list">
    <li class="user-persona-item">
      <p class="user-persona-icon">👧🏼</p>
      <p>Sage</p>
      <p>Wants to see how similar her music habits are to her friends</p>
    </li>
    <li class="user-persona-item">
      <p class="user-persona-icon">🧑🏿</p>
      <p>Marcus</p>
      <p>Looking to grow community of people who listen to the same music as him</p>
    </li>
    <li class="user-persona-item">
      <p class="user-persona-icon">👩🏼</p>
      <p>Paige</p>
      <p>Looking to find new music and expand her genre listening</p>
    </li>
  </ul>
  <p>Looks like we would need to pursue a mobile app</p>
</section>
<section>
  <h3>Brand Design</p>
  <p>We looked for a color pallete first, and some art concepts that would guide the rest of our designs</p>
</section>
<section>
  <h3>Prototyping</h3>
  <div class="content-right">
    <p>we ran through multiple versions of each component</p>
    <img src="/assets/images/muse/muse-profile-old.png" class="large"/>
  </div>
  <div class="content-left">
    <img src="/assets/images/muse/muse-profile-revised.png" class="large"/>
    <p>until we got a look that we liked</p>
  </div>
</section>
<section>
  <h3>Final Design</h3>
  <img src="assets/images/muse/muse-old.png" class="large"/>
  <p>...</p>
  <img src="assets/images/muse/muse-new.png" class="large"/>
</section>