<section>
  <div class="content-right">
    <div class="content-center">
      <img src="/assets/images/muse/muse-intro.png" class="scroll item-left"/>
    </div>
    <div class="content-center item-right">
      <h3>Do you recall the Bill Clinton album cover trend that took over Instagram for a couple weeks?</h3>
      <img src="/assets/images/muse/muse-bill-clinton-1.png" alt="picture of the bill clinton instagram story challenge template" class="medium"/>
      <p>While short lived, this Instagram challenge trend is indicative of the way that music has embedded itself in our modern day culture. Discussions about favorite artists and banger tracks can be found in everyday casual discussions everywhere. </p> 
      <img src="/assets/images/muse/muse-bill-clinton-2.png"  alt="picture of the bill clinton instagram story challenge with the album covers filled in" class="small"/>
      <p>People fill their social media with various screenshots from Spotify and Apple Music to show off the music that they currently listen to. Whether we like it or not, the music we listen to is tied to our identity as people, which we have learned to use to build relationships with others and discuss the music that we’re passionate about.</p>
    </div>
  </div>
</section>
<section>
  <h3>There are a wide varierty of social platforms...</h3>
  <p><b>...that utilize different mediums of relationship building. However, there isn't a dedicated platform that builds on this idea of letting the music you listen to curate your online profile.</b></p>
  <p>Based on this conclusion, a couple friends and I set out to create a social platform where you can connect with others and explore new music based on your favorite music.</p>
</section>
<section>
  <h3>Going Into This Project...</h3>
  <p>...I had no formal experience in graphic design. I was initially tasked with frontend dev, but I was really eager to open myself up to the world of design. Thanks to the help of some fellow team members who did have some basic design experience, we curated a roadmap that we could follow to get to a final design.</p>
  <ol class="icon-list">
    <li>
      <figure>
        <img src="/assets/images/muse/muse-icon-survey.svg" alt="icon of a clipboard to symbolize a survey"/>
        <figcaption><b>User Research</b></figcaption>
      </figure>
    </li>
     <li>
      <figure>
        <img src="/assets/images/muse/muse-icon-brand.svg" alt="icon of a blueprint to symbolize redesigning our app"/>
        <figcaption><b>Branch Redesign</b></figcaption>
      </figure>
    </li>
     <li>
      <figure>
        <img src="/assets/images/muse/muse-icon-prototyping.svg" alt="icon of a lego like brick to symbolize building a prototype"/>
        <figcaption><b>Prototyping & Testing</b></figcaption>
      </figure>
    </li>
     <li>
      <figure>
        <img src="/assets/images/muse/muse-icon-final.svg" alt="icon of a compelte checkmark to symbolize a finished product"/>
        <figcaption><b>Final Design</b></figcaption>
      </figure>
    </li>

  </ol>
  <p>The group had a POC version of the application already, but had made plans to scrap the old design and rebuild the application and brand design from the ground up, preserving the features and functionality that had been working from the previous version of the app.</p>
  <figure>
    <figcaption><b>Our Old Web App Design:</b></figcaption>
    <img src="/assets/images/muse/muse-old.png" class="large"/>
  </figure>
</section>
<section>
  <h3>Our User Research Process...</h3>
  <p>...largely revolved around this redesign process. We aimed to use our research findings to determine the following:</p>
  <div class="content-center"> 
    <ol>
      <p>Which platform should we pull listening data from?</p>
      <li>
        <ul class="icon-list">
          <li>
            <figure>
              <img src="/assets/images/muse/muse-icon-apple.png" alt="">
              <figcaption>Apple Music</figcaption>
            </figure>
          </li>
          <li>
            vs.
          </li>
          <li>
            <figure>
              <img src="/assets/images/muse/muse-icon-soundcloud.png" alt="">
              <figcaption>Soundcloud</figcaption>
            </figure>
          </li>
          <li>
            vs.
          </li>
          <li class="chosen">
            <figure>
              <img src="/assets/images/muse/muse-icon-spotify.png" alt="">
              <figcaption>Spotify</figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <p>What kind of platform should we build our app client on?</p>
      <li>
        <ul class="icon-list">
          <li class="chosen">
            <figure>
              <img src="/assets/images/muse/muse-icon-react.png" alt="">
              <figcaption>Cross-Platform</figcaption>
            </figure>
          </li>
          <li>
            vs.
          </li>
          <li>
            <figure>
              <img src="/assets/images/muse/muse-icon-ios.png" alt="">
              <figcaption>iOS</figcaption>
            </figure>
          </li>
          <li>
            vs.
          </li>
          <li>
            <figure>
              <img src="/assets/images/muse/muse-icon-android.png" alt="">
              <figcaption>Android</figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <p>Which feature should be top priority for an MVP (Minimum Viable Product)?</p>
      <li>
        <ul class="icon-list">
          <li class="chosen">
            <figure>
              <img src="/assets/images/muse/muse-icon-compatibility.png" alt="">
              <figcaption>Music Listening Compatibility</figcaption>
            </figure>
          </li>
          <li>
            vs.
          </li>
          <li>
            <figure>
              <img src="/assets/images/muse/muse-icon-music.png" alt="">
              <figcaption>Music Exploration</figcaption>
            </figure>
          </li>
          <li>
            vs.
          </li>
          <li>
            <figure>
              <img src="/assets/images/muse/muse-icon-users.png" alt="">
              <figcaption>User Exploration</figcaption>
            </figure>
          </li>
        </ul>
      </li>

    </ol>
  </div>
  <p><b>This research process was particularly eye opening, as I had never performed this kind of deterministic user research before. With my previous design passion projects I simply made design choices based on what I thought was cool or useful.</b></p>
  <p>From our responses, we developed these user personas to guide the rest of our app design process</p>
  <ul class="icon-list">
    <li class="user-persona-item">
      <p class="user-persona-icon">👧🏼</p>
      <p>Sage</p>
      <p>Wants to see how similar her music habits are to her friends</p>
    </li>
    <li class="user-persona-item">
      <p class="user-persona-icon">🧑🏿</p>
      <p>Marcus</p>
      <p>Looking to grow community of people who listen to the same music as him</p>
    </li>
    <li class="user-persona-item">
      <p class="user-persona-icon">👩🏼</p>
      <p>Paige</p>
      <p>Looking to find new music and expand her genre listening</p>
    </li>
  </ul>
</section>
<section>
  <h3>Brand Design</h3>
  <p>We worked first on a color palette, followed by some landing page concepts</p>
  <img src="/assets/images/muse/muse-colors.png" class="large" alt="a list of all the colors we included in our brand color pallette"/>
  <p>We chose to experiment on our advertisement/landing page since we would publish it before the application itself. It also gave us a good canvas to curate a solid set of brand icons and graphics that we would use in our application.</p>
  <ul class="icon-list">
    <li>
      <figure>
        <figcaption><b>We started here:</b></figcaption>
        <img class="large" src="/assets/images/muse/muse-landing-1.png" alt="the first iteration of our website where we tried to adopt a spotify-like pastel colored style, it did not look good">
      </figure>
    </li>
    <li>
      <figure>
        <figcaption><b>Improved to this:</b></figcaption>
        <img class="large" src="/assets/images/muse/muse-landing-2.png" alt="the second iteration of our website after we developed our color pallette, which we almost adopted but still didn't think it would scale well into a mobile app">
      </figure>
    </li>
    <li>
      <figure>
        <figcaption><b>And ended with this:</b></figcaption>
        <img src="/assets/images/muse/muse-landing-3.png" alt="the final iteration of our website" class="large">
      </figure>
    </li>
  </ul>
</section>
<section>
  <h3>We Proceeded With Our Prototyping By...</h3>
  <div class="content-right">
    <p>...starting with this design. We ran through a few iterations of our mobile app designs, getting user feedback after each redesign. This process was specifically helpful to me as I was able to learn a ton about figma's features from my fellow designers.</p>
    <img src="/assets/images/muse/muse-profile-old.png" class="medium"/>
  </div>
  <div class="content-left">
    <img src="/assets/images/muse/muse-profile-revised.png" class="medium"/>
    <p>We ended up with this design, which we feel provided an interface that was easy to use, understand, and looked good. The navbar at the bottom was a nice touch, since we were able to have a new take on an existing popular design</p>
  </div>
</section>
<section>
  <h3>Our Final Design...</h3>
  <img src="assets/images/muse/muse-new.png" class="large"/>
</section>
<section>
  <h3>In Retrospect...</h3>
  <p>...there are a ton of things I would do differently, which is undestandable given that this was my first semi-formal design project. To begin with I would have put more focus on user research and user testing. Far too many of our team's decisions were based on our own opinions that led us to dead-ends and impossible tasks. We failed in many areas to introduce contraints with both our designs and applciation features, which was the main contributor to us not being able to finish and publish our application.</p>
</section>