/* font head animation */
@keyframes deleteText {
  from {
    opacity: 1;
  }

  1% {
    background-color: var(--colorTitleTxt);
  }

  99% {
    opacity: 1;
    background-color: var(--colorTitleTxt);
  }

  to {
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes typeText {
  from {
    opacity: 0;
    background-color: var(--colorTitleTxt);
  }

  1% {
    opacity: 1;
  }

  99% {
    background-color: var(--colorTitleTxt);
  }

  100% {
    background-color: transparent;
  }
}




/* general styles  */
:root {
  --color1: #FFFF00;
  --color2: #00FFFF;
  --color3: #FF00FF;
  --colorBkg: #020202;
  --colorTxt: #FFFFFF;
  --colorNavBkg: #020202;
  --colorNavTxt: #FFFFFF;
  --colorNavBorder: #FFFFFF;
  --colorTitleTxt: #FFFFFF;
}

h3, h1 {
  margin-block: 10px;
  margin: 10px;
}

.page-item {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.title-text {
  display: flex;
}






/* stateful styles */
.hidden {
  opacity: 0;
}

.active {
  opacity: 1; 
}

.title-text > p.hidden, .title-text-closing > p.hidden {
  animation-name: deleteText;
  animation-duration: .05s;
  animation-direction: normal;
}

.title-text > p.active, .title-text-closing > p.active {
  animation-name: typeText;
  animation-duration: .05s;
  animation-direction: normal;
  opacity: 1;
}





/* large container styles */
body {
  margin: 0;
  overflow-x: hidden;
}

.page-background {
  padding: 0;
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -9999;
  top: 0;
  overflow: visible;
}

.page-background.fouro {
  background-repeat: none;
  background-size: cover;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.page-title-left {
  grid-row: 1;
  grid-column: 1;
}

.page-title-right {
  grid-column: 1;
  grid-row: 2;
}

#container-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  grid-column: 2;
  height: inherit;
  grid-row: 1;
}

#container-main {
  display: grid;
  grid-template-rows: 5% 50% 45%;
  height: 100vh;
}




/* children of container-main */
#container-main-content {
  display: grid;
  grid-template-rows: 40px auto 40px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-row: 2;
}

#container-card {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row: 2;
}

#container-card > section {
  position: absolute;
}

.container-title-text {
  display: flex;
  position: relative;
  font-size: 10px;
}

#title-text-opening {
  position: absolute;
  bottom: 7.5px;
  left: 0;
}

#opening-text {
  grid-row: 1;
}

#title-text-closing {
  position: absolute;
  top: 0;
  right: 0;
}

#closing-text {
  grid-row: 3;
}

#container-main-img {
  height: 100%;
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
}

#container-main-img > img {
  margin-left: 100px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  max-height: 650px;
  z-index: 999;
}

#container-main-img > img.home {
  height: 500px
}

section.item-card {
  background-color: var(--colorBkg);
  height: 100%;
  width: 100%;
}

section.page-item > p, section.page-item > h2 {
  color: var(--colorTxt);
  margin: 20px;
}







/* children of container-nav */
.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 9999;
}

a.nav-btn {
  background-color: var(--colorNavBkg);
  border: 2px solid var(--colorNavBorder);
  color: var(--colorNavTxt);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  transition-duration: .5s;
}


a.nav-btn:hover {
}





/* info-pages */
#page-main {
  position: relative;
  height: 100vh;
}

.info-page {
  background-repeat: repeat;
  background-attachment: fixed;
  position: absolute;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
}

.info-page .page-content {
  display: grid;
  grid-row: 2;
}

.header-img {
  width: 100vw;
  grid-row: 1;
  height: 200px;
  object-fit: cover;
  transition-duration: .5s;
}

.header-img.muse, .header-img.fouro {
}

.info-page.hidden {
  display: none;
}


.info-page-left {
  width: 100%;
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
}

.info-page-right {
  width: 100%;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#about-me-img {
  margin-left: 100px;
  object-fit: contain;
  position: absolute;
  height: 500px;
}

.content-subtitle {
  color: #fff;
}

.content-about {
  background-color: #020202;
  color: #fff;
  border: 2px #fff solid;
  padding: 30px;
  margin: 50px;
}





/* case study page */
.body-page {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}

.content-sections {
  grid-row: 1;
  padding: 40px;
}

.page-content-text {
  grid-row: 2;
}

.page-content-text section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 20px 50px;
}

.page-content div {
  padding: 10px 40px 10px 40px;
}

.page-content-text div.content-right {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: left;
}

.page-content-text div.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content-text div.content-left {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: center;
}

.page-context-text section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content-text p {
  font-size: 20px;
  font-family: sans-serif;
  max-width: 60vw;
}


.page-content-text h3 {
  font-size: 40px;
  text-align: center;
}

.page-content-text img.large {
  height: 750px;
} 

.page-content-text img.medium {
  height: 500px;
}

.page-content-text img.small {
  height: 250px;
}

.page-content-text img.scroll {
  width: 500px;
} 

.page-content-text .item-left {
  grid-column: 1;
}

.page-content-text .item-right {
  grid-column: 2;
  align-self: start;
}

.page-content-text ol {
  font-size: medium;
  width: 50vw;
  list-style: none;
}

.page-content-text ol > li {
  margin-bottom: 50px;
}

.page-content-text ol > p {
  font-weight: bold;
}

li.chosen {
  background-color: lightgreen;
  border-radius: 100px;
  font-weight: bold;
}

p.text-center {
  text-align: center;
}


figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

figure img {
  height: 100px;
  padding: 20px;
}

.icon-list {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: space-evenly;
  align-items: baseline;
  list-style: none;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.user-persona-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.user-persona-icon {
  font-size:150px;
  margin-block: 0;
}








/* home card */
#home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

#home-img {
  height: inherit;
}